* {
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    padding-top: 30px;
}

form {
    /* display: block; */
    width: 250px;
    padding-bottom: 70px;
}
.form-group {
    max-width: 100%;
}
